

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 8px; /* 5px rounded corners */
    background: rgb(131, 66, 66);
  }

  .card-content h3 {
    margin-top: .5;
    margin-bottom: .5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .card-content p {
    font-size: 100%;
    color: rgb(255, 255, 255);
  }

  .card button {
    background-color:rgb(70, 54, 54);
    border: double;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: .5em;
    border-radius: 2px;
    margin: .5em;
    width: 55%;
  }

  .card button:hover {
    background-color: rgb(12, 12, 58);
  }